---
layout: default
---

<!-- Reading post-->

<!-- 여기에 갤러리 형식으로 구성하기-->
<div id = "list_container">
    {% for post in site.categories.reading limit:9 %}    
                <div class="list">
                    <a href="{{ post.url }}" class="list_link">
                        <span class="list_img">
                            <img src="" alt="image not found" class="thumbnail_img" >
                        </span>
                        <span class="list_info">
                            <p>{{ post.title }}</p>
                        </span>
                    </a>
                </div>
    
    {% endfor %}
    </div>
    
    
    <footer>
        
    </footer>

    <script>
        const $img = [...document.getElementsByTagName('img')]
        $img.forEach((v, k) => {
            v.src = `../reading_thumbnail/${k}.jpg`
        })
    </script>